*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
html{
	background: #fff;
}
body{
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #555;
	text-align: center;
	background: #f5f5f5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
	text-decoration: none;
	transition: all .1s ease-in-out;
}
::selection{
	background: #00df9e;
	color: #000;
	text-shadow: none;
	transition: all .15s ease-in-out;
}
ol, ul{
	list-style-position: inside;
}
/*~Fonts*/
@font-face {
	font-family: 'Anyway Type';
	src: url('https://s.anw.red/font/calluna-sans-regular.woff2') format('woff2'),
		url('https://s.anw.red/font/calluna-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Anyway Type';
	src: url('https://s.anw.red/font/calluna-sans-bold.woff2') format('woff2'),
		url('https://s.anw.red/font/calluna-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}
@font-face {
  font-family: 'Anyway Serif';
	src: url('https://s.anw.red/font/calluna-bold.woff') format('woff'),
		url('https://s.anw.red/font/calluna-bold.woff2') format('woff2'),
		url('https://s.anw.red/font/calluna-bold.eot') format('eot');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
.mask{
	position: fixed;
	z-index: 999;
	border: .4rem solid #00df9e;
	background: #00df9e;
	pointer-events: none;
}
.mt, .mb{
	height: 0;
	width: 100%;
	left: 0;
}
.mb{
	bottom: -20rem;
	height: 20.8rem;
}
.mb2{
	bottom: .8rem;
	height: 2rem;
	width: 200px;
	border: none;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
.mt{
	top: -20rem;
	height: 20.8rem;
}
.mv{
	bottom: 0;
	height: 999em;
	width: 0;
}
.ml, .ml2{left: -20rem;width: 20.8rem;}
.mr, .mr2{right: -20rem;width: 20.8rem;}
.ml2, .mr2{bottom: none;top: 0;}
.x-corner {
	display: none;
}

/* ~The End */
.the-end{
	font-size: 2rem;
	margin: 0 0 3rem;
	font-weight: 700;
}
.the-end p{
	width: 1.6rem;
	margin: 0 auto .75rem;
	height: 1.6rem;
	background: #00df9e;
	animation: square-rotate 10s ease-in-out infinite;
}
@keyframes square-rotate {
	0%{transform: none;}
	90%{transform: none;}
	94%{transform: rotate(1.1turn);}
	96%{transform: rotate(.95turn);}
	98%{transform: rotate(1.03turn);}
	100%{transform: rotate(1turn);}
}
/*~Footer*/
footer{
	font-size: .75rem;
	clear: both;
	text-align: center;
	background: #fff;
	color: #222;
}
footer .inner{
	padding: 1rem 0 1.8rem;
}
footer a{
	color: #222;
}

/*~Main*/
main{
	display: block;
	padding:  0 .8rem 4em;
	line-height: 1.65;
	font-size: 1rem;
	max-width: 80rem;
	margin: 0 auto;
	background: #f5f5f5;
}
@keyframes slowShow {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/* ~Header */
header{
	padding: 8rem 0 9rem;
	background: #f5f5f5;
}
header .inner{
	max-width: 80rem;
	padding:  0 5%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* flex-direction: column; */
}
h1{
	font-size: 4rem;
	color: #333;
	font-weight: 700;
	font-feature-settings: 'tnum';
	font-family: "Anyway Serif", "Title Serif", "Source Han Serif SC","Songti SC", SimSun, serif;
	display: block;
	text-align: left;
	margin: 0 1em 0 0;
	position: relative;
	background: #fff;
	padding: .05em .4em .2em;
}
h1 sup {
	font-size: .15em;
	line-height: 1.2;
	margin: 0;
	border: none;
	display: block;
	background: #00df9e;
	color: #fff;
	padding: .22em .3em .1em;
	font-family: "Anyway Type", "PingFang SC", "Microsoft YaHei", sans-serif;
	font-weight: 400;
	position: absolute;
	display: inline-block;
	right: -3em;
	top: 1em;
	text-shadow: none;
}
.tagline{
	font-size: .875rem;
	font-weight: 400;
	max-width: 80ch;
	color: #666;
	line-height: 1.78;
	text-align: left;
	/* background: #00df9e; */
	padding: 0 0 .2em 2rem;
}
.tagline ol{
	list-style: none;
}
.tagline ol span{
	font-weight: 400;
	background: #00df9e;
	padding: .1em .25em .15em;
	color: #333;
	margin: 0 .3em 0 0;
	-moz-font-feature-settings: 'tnum';
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
}
.tagline a{
	color: #666;
	font-weight: 700;
}
.tagline a:hover{
	background: #00df9e;
	color: #333;
}
/* ~Post */
.posts > .inner{
	display: flex;
	flex-wrap: wrap;
}
.post{
	flex-basis: 33.33%;
	/* padding: 2rem; */
}
.post-content img{
	max-width: 100%;
	vertical-align: middle;
}
.post-content > .inner{
	position: relative;
}
.post-meta{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	padding: 2rem;
	background: #fff;
	transition: all .12s ease-out;
}
.post:hover .post-meta{
	opacity: 1;
}
.post-title{
	font-weight: 700;
}
