<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="author" content="JJ Ying" />
	<meta name="description" content="Whatever"/>

	<link rel="stylesheet" href="assets/styles.css">

	<link rel="icon" href="assets/favicon-16.png" sizes="16x16">
	<link rel="icon" href="assets/favicon-32.png" sizes="32x32">
	<link rel="icon" href="assets/favicon-96.png" sizes="96x96">
	<link rel="mask-icon" href="assets/mask-icon.svg" color="#00df9e">

	<meta property="og:url" content="http://ABC.Anyway.FM">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Whatever.FM">
		<meta property="og:description" content="Whatever">
		<meta property="og:image" content="https://s.anw.red/anyway.abc/preview.png">

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Whatever" />
		<meta name="twitter:title" content="Whatever.FM" />
		<meta name="twitter:site" content="@anyway__fm" />
		<meta name="twitter:image" content="https://s.anw.red/anyway.abc/preview.png" />

</head>

<body>

	<header>
		<div class="inner">
			<h1>Whatever.FM<sup>ALPHA</sup></h1>

		</div>
	</header>

	<main id="whatever">
		{{ content }}
	</main>


	<div class="the-end">
		<p></p>
		To be Continued...
	</div>

	<footer >
		<div class="inner">© 2018 <a href="https://anyway.fm">Anyway.FM</a> 保留所有权利</a></div>
	</footer>

	<div class="mask mt"></div><div class="mask mb"></div><div class="mask mv ml"></div><div class="mask mv mr"></div><div class="mask mv ml2"></div><div class="mask mv mr2"></div>

	<div class="x-corner x-corner-l">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M0 49.9L50 49.9C32.6 49.9 26.3 48.1 20 44.7 13.6 41.3 8.6 36.3 5.2 29.9 1.8 23.6 0 17.3 0-0.1L0 49.9Z" fill="#00df9e"/></svg>
	</div>

	<div class="x-corner x-corner-r">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M0 49.9L50 49.9C32.6 49.9 26.3 48.1 20 44.7 13.6 41.3 8.6 36.3 5.2 29.9 1.8 23.6 0 17.3 0-0.1L0 49.9Z" fill="#00df9e"/></svg>
	</div>

	<script src="assets/vue.js"></script>

	<script>
		var a = new Vue({
			el: '#whatever',
			data: {
				nowPlaying: false,
				voiceFileUrl: 'http://dict.youdao.com/dictvoice?audio=anyway&type=2',
				currentWord: "anyway"
			},
			methods: {
				playNow: function (word) {

				}
			}
		})

		window.onload = function(){

		}

		<!-- ~Baidu Analytics -->
		var _hmt = _hmt || [];
		(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?d6fc362c05908e5ce8d17df52dbc2586";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
		})();
	</script>

</body>
</html>
